# Pandas - Data input and data output

In [1]:
# CSV, HTML, SQL, EXCEL

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\computer\\Python-Data-Science-and-Machine-Learning-Bootcamp\\Python-Data-Science-and-Machine-Learning-Bootcamp\\Python-for-Data-Analysis\\Pandas'

In [4]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df=pd.read_csv('example')

In [6]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_csv('My_output')

In [10]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df.to_csv('My_output',index=False)

In [11]:
# pandas can only import the data from excel, can not import formula or images or macros

In [13]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

In [15]:
## HTML

In [18]:
data=pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: html5lib not found, please install it

In [ ]:
# SQL - pandas is not the best way to read sql. check the project I did in May 2017